{{#if updateCityForm}}
  <h4>Update {{city.cityName}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="cityName">Name</label>
          {{input value=cityName id="cityName" placeholder=city.cityName}}
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          {{input value=country id="country" placeholder=city.country}}
        </div>

        <div class="form-group">
          <label for="attractions">Attractions</label>
          {{input value=attractions id="attractions" placeholder=city.attractions}}
        </div>

        <button {{action 'updateCity' city}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateCityForm'}}>Update</button>
{{/if}}
